<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Store
            <small>Edit Product</small>
        </h1>
    </div>
    <br/>

    <!--<form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="dept_no">Department number:</label>
            <input id="dept_no" class="form-control" type="text" name="dept_no"
                   placeholder="Enter dept number"
                   ng-model="ctrl.dept_no"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Barcode</td>
            <td>
                <div ng-hide="ctrl.isBarcodeEditorOn">
                    {{ ctrl.result.barcode }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleBarcodeEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isBarcodeEditorOn">
                <form name="bcForm" ng-submit="bcForm.$valid && ctrl.updateBarcode()" novalidate="">
                <div class="form-group">
                    <div class="input-group">
                        <input id="barcode" name="barcode" type="text" class="form-control" size="1" ng-model="ctrl.result.barcode" required
                        ng-pattern="/^[0-9]{12}$/">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-disabled="bcForm.$invalid">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.cancelBarcode()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>                        
                </div>
                </form>
                <div class="validation"  data-ng-show="bcForm.barcode.$dirty || bcForm.$submitted">
                <div data-ng-show="bcForm.barcode.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Barcode value is required.
                </div>
                <div data-ng-show="bcForm.barcode.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Barcode can only contain 12 numbers.
                </div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <div ng-hide="ctrl.isBrandEditorOn">
                    {{ ctrl.result.brand }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleBrandEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isBrandEditorOn">
                <form name="brForm" ng-submit="brForm.$valid && ctrl.updateBrand()" novalidate="">
                <div class="form-group">    
                    <div class="input-group">
                        <input id="brand" name="brand" type="text" class="form-control" size="1" ng-model="ctrl.result.brand" required>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-disabled="brForm.$invalid">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.cancelBrand()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <div class="validation"  data-ng-show="brForm.brand.$dirty || brForm.$submitted">
                <div data-ng-show="brForm.brand.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Brand name is required.
                </div>
                </div>
                </div>
            </td>

        </tr>
            <td>Product Name</td>
            <td>
                <div ng-hide="ctrl.isNameEditorOn">
                    {{ ctrl.result.name }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleNameEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isNameEditorOn">
                <form name="nForm" ng-submit="nForm.$valid && ctrl.updateName()" novalidate="">
                <div class="form-group">   
                    <div class="input-group">
                        <input id="name" name="name" type="text" class="form-control" size="1" ng-model="ctrl.result.name" required>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-disabled="nForm.$invalid">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.cancelName()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <div class="validation"  data-ng-show="nForm.name.$dirty || nForm.$submitted">
                <div data-ng-show="nForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Product name is required.
                </div>
                </div>
                </div>
            </td>
        </tbody>
    </table>
    <p><button ui-sref="Search">Back to search form</button></p>
</div>

<!--<span ng-show="ctrl.showManager">
                  Handles display of departments that have not been assigned any manager 
                {{ dept.managers[0] ? dept.managers[0].emp_no : " "}}
            </span>

<span ng-show="ctrl.showManager">
                  Handles display of departments that have not been assigned any manager 
                {{ dept.managers[0]
                ? (dept.managers[0].employee.first_name + " " + dept.managers[0].employee.last_name)
                : " "}}
            </span>-->