<div class="container" ng-controller="SearchCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Store
            <small>Search Form</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter brand or product name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>
    <hr>
    <form name="sortForm" id="sortForm" class="form-inline">
        <div class="form-group">
            <label>Sort by:</label>
            <select id="orderProp" ng-model="ctrl.orderProp">
                <option value="brand">Brand</option>
                <option value="name" selected>Product Name</option> 
            </select>
            <select id="order" ng-model="ctrl.order">
                <option value="+" selected>Ascending</option>
                <option value="-">Descending</option> 
            </select>
        </div>
        <div class="form-group">
            <label>	&nbsp Results:</label>
            <select id="result_limit" ng-model="ctrl.result_limit">
                <option value=5>5</option>
                <option value=20 selected>20</option>
                <option value=30>30</option>
            </select>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Barcode</th>
            <th>Brand</th>
            <th>Product Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in ctrl.grocery_list | orderBy:ctrl.order+ctrl.orderProp||'name' | limitTo:ctrl.result_limit ||20">
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{ product.upc12 }}.png?IsTextDrawn=1"></td>
            <td>{{ product.brand }}</td>
            <td>{{ product.name }}</td>
            <td><button ui-sref="Edit({ productId: product.id })">Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>